SENTINEL_NODE_ID={{ inventory_hostname_short | default(ansible_hostname) }}
SENTINEL_ROLE={{ sentinel_role }}
SENTINEL_DB={{ sentinel_prefix }}/var/sentinel.db
SENTINEL_WEB_DIST={{ sentinel_prefix }}/web
SENTINEL_FIXTURES={{ sentinel_prefix }}/fixtures
SENTINEL_MARKING="{{ sentinel_marking }}"
SENTINEL_EXERCISE=1
SENTINEL_LIBRARY=1
SENTINEL_READ_ONLY={{ '1' if sentinel_read_only else '0' }}
SENTINEL_DEMO_CONTROLS=0
